.home-page {
  padding: 20px;
  background: linear-gradient(135deg, #d8d8d8, #d6d6d6);
}


.content-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.left-content,
.right-content {
  flex: 1;
}

section {
  background: linear-gradient(135deg, #ff6b6b, #ffd885);
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

#qui-sommes-nous {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  }

  .bandeau-image {
    margin-bottom: 10px;
  }
}
