/* PageDroits.css */

.nos-droits {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(to right, rgb(255, 42, 0), yellow);
  }
  
  
  @media (min-width: 768px) {
    .nos-droits {
      grid-template-columns: repeat(2, 1fr);
      
    }
  
  }
  
  @media (max-width: 768px) {
    .nos-droits {
      padding: 0px;
      padding-top: 10px;
      grid-template-columns: 1fr;
    }
  
  }
  
  .edit-form input,
  .edit-form textarea {
    width: 100%;
    margin: 10px 0;
  }
  
  .edit-form button {
    margin: 10px 0;
  }
  