.action-card {
  margin: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 30%;
}

.action-card-background {
  position: relative;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  overflow: hidden;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.action-card-content {
  text-align: center;
}

.expanded {
  cursor: default;
  width: 100%;
}

.expanded-content {
  padding: 20px;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
  width: 80%;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.expanded-content img {
  width: auto;
  max-height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.short-text {
  font-size: 14px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #b30000;
}
