.carousel-container {
  position: relative;
  max-width: 100%; /* Limite la largeur maximale */
  margin: auto; /* Centrage horizontal */
  overflow: hidden; /* Cache le débordement des images */
}

.carousel {
  display: flex;
  justify-content: center; /* Centrer l'image */
  align-items: center; /* Centrer verticalement */
  transition: transform 0.5s ease; /* Animation de transition */
}

.carousel-image {
  width: 100%;
  max-height: 400px; /* Hauteur maximale de l'image */
  object-fit: cover; /* Pour éviter la déformation de l'image */
}

.carousel-button {
  position: absolute;
  transform: translateY(-50%); /* Ajuste le positionnement */
  background: rgba(133, 133, 133, 0.7); /* Fond semi-transparent */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur pointer */
  padding: 10px; /* Espacement interne */
  width: auto;
  z-index: 10; /* S'assurer que les boutons sont au-dessus */
}

.carousel-button.left {
  left: 10px; /* Positionnement à gauche */
  top: 50%; /* Centrer verticalement */
}

.carousel-button.right {
  right: 10px; /* Positionnement à droite */
  top: 50%; /* Centrer verticalement */
}

.dropzone {
  border: 2px dashed #007bff; /* Bordure en pointillés */
  padding: 20px; /* Espacement interne */
  text-align: center; /* Alignement du texte */
  margin-top: 10px; /* Marge supérieure */
  border-radius: 10px; /* Coins arrondis */
}

.image-list {
  display: flex; /* Flexbox pour le conteneur d'images */
  flex-wrap: wrap; /* Permet à l'image de passer à la ligne suivante */
  justify-content: center; /* Centrer les images */
  margin-top: 20px; /* Marge supérieure */
}

.image-item {
  position: relative; /* Position relative pour le bouton de suppression */
  margin: 10px; /* Espacement entre les images */
}

.uploaded-image {
  width: 100px; /* Largeur de l'image téléchargée */
  height: 100px; /* Hauteur de l'image téléchargée */
  object-fit: cover; /* Pour éviter la déformation de l'image */
  border-radius: 5px; /* Coins arrondis */
}

.image-item button {
  position: absolute; /* Positionnement absolu pour le bouton de suppression */
  top: 5px; /* Position du bouton en haut à gauche */
  right: 5px; /* Position du bouton en haut à droite */
  border: none; /* Pas de bordure */
  cursor: pointer; /* Curseur pointer */
  width: auto;
}
