.minimal-carousel {
  position: relative;
  width: 33vw; /* Limiter la largeur à environ un tiers de l'écran */
  max-width: 400px; /* Définir une largeur maximale */
  margin: 0 auto;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: width 0.5s ease-in-out; /* Ajout d'une transition pour l'animation de la largeur */
}

.carousel-images {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajuster les images pour couvrir la zone sans changer les proportions */
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  transition: background-color 0.3s ease;
}

.carousel-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.carousel-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* Media queries pour différentes tailles d'écran */
@media (max-width: 1200px) {
  .minimal-carousel {
    width: 50vw; /* Ajuster la largeur à 50% de l'écran pour les écrans moyens */
  }
}

@media (max-width: 768px) {
  .minimal-carousel {
    width: 80vw; /* Ajuster la largeur à 80% de l'écran pour les petits écrans */
  }
}

@media (max-width: 480px) {
  .minimal-carousel {
    width: 100vw; /* Ajuster la largeur à 100% de l'écran pour les très petits écrans */
    border-radius: 0; /* Supprimer les bordures arrondies pour les petits écrans */
  }
}
