.droit-card {
  display: flex;
  align-items: center;
  justify-content: center; /* Centrer horizontalement */
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  background: rgba(253, 253, 253, 0.8);
  margin: 20px auto; /* Centrer le composant */
  width: 90vw; /* 90% de la largeur de l'écran */
  height: 60vh; /* 60% de la hauteur de l'écran */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex-wrap: wrap; /* Permettre le wrap sur les petits écrans */
  overflow: hidden; /* Empêcher le débordement du contenu */
  text-align: center; /* Centrer le texte */
}

.droit-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
}

.text-content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box; /* Assurez-vous que le padding soit inclus dans la largeur */
  max-height: 100%; /* S'assurer que le contenu texte ne dépasse pas la hauteur du parent */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrer verticalement */
}

.text-content h2 {
  font-size: 2em; /* Utilisation d'unités relatives */
  margin-bottom: 0.5em;
}

.text-content p {
  font-size: 1em;
  line-height: 1.5;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 100%; /* S'assurer que l'image ne dépasse pas la hauteur du parent */
  overflow: hidden; /* Empêcher le débordement de l'image */
}

.image-content img {
  width: 55%;
  height: 100%;
  object-fit: contain; /* Assurer que l'image reste dans le conteneur tout en étant entièrement visible */
  border-radius: 10px;
}

.image-right .image-content {
  order: 2;
}

.image-left .image-content {
  order: -1;
}

@media (max-width: 1024px) {
  .droit-card {
    flex-direction: column;
    height: auto; /* Ajuster la hauteur automatiquement */
  }

  .text-content, .image-content {
    width: 100%;
    height: auto; /* Ajuster la hauteur automatiquement */
  }

  .image-right .image-content, .image-left .image-content {
    order: 0;
  }
}

@media (max-width: 600px) {
  .droit-card {
    padding: 10px;
  }

  .text-content {
    height: 50%; 
  }

  .text-content h2 {
    font-size: 1.5em;
  }

  .text-content p {
    font-size: 0.9em;
  }
}
