.droit-card {
  display: flex;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  background: rgba(253, 253, 253, 0.8);
  margin: 20px auto;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex-wrap: wrap;
  overflow: hidden;
  text-align: center;
}

.droit-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
}

.text-content {
  
  padding: 20px;
  box-sizing: border-box;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.text-content h2 {
  font-size: 1.8em;
  margin-bottom: 0.5em;
}

.text-content p {
  font-size: 1em;
  line-height: 1.6;
  max-width: 90%;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  max-height: 100%;
  overflow: scroll;
}

.image-content img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

/* Classes pour alterner l'image entre la gauche et la droite */
.image-right .image-content {
  order: 2;
}

.image-left .image-content {
  order: -1;
}
.edit-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

.form-group label {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.input-field,
.textarea-field,
.file-input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1em;
}

.input-field:focus,
.textarea-field:focus,
.file-input:focus {
  border-color: #007bff;
  outline: none;
}

.textarea-field {
  height: 150px;
  resize: vertical;
}

.submit-btn {
  padding: 12px 24px;
  background-color: #007bff;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.submit-btn:active {
  background-color: #004085;
}

@media (max-width: 1024px) {
  .droit-card {
    flex-direction: column;
    height: auto;
    margin-top: 0;
  }

  .text-content, .image-content {
    width: 100%;
    max-height: auto;
    text-align: center;
  }

  .image-right .image-content, .image-left .image-content {
    order: 0;
  }

  .text-content h2 {
    font-size: 1.5em;
  }

  .text-content p {
    font-size: 1em;
  }
}

@media (max-width: 600px) {
  .droit-card {
    padding: 10px;
    width: 90%;
  }

  .text-content {
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .text-content h2 {
    font-size: 1.2em;
  }

  .text-content p {
    font-size: 0.9em;
    line-height: 1.4;
  }

  .image-content img {
    width: 80%;
  }
}
