/* Styles de base pour le header */
.header {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 10px 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
  }
  
  /* Style pour le logo */
  .logo a, .logo .dropbtn {
    text-decoration: none;
    font-size: 24px;
    color: #333;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .logo a:hover, .logo .dropbtn:hover {
    color: #ff0000;
    border-bottom: 2px solid #ff6200;
  }
  
  /* Styles pour les liens de navigation */
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
  }
  
  .nav-links a:hover {
    color: #ff0000;
    border-bottom: 2px solid #ff9900;
  }
  
  /* Styles pour les boutons d'authentification */
  .auth-buttons .btn-signin {
    text-decoration: none;
    color: #fff;
    background-color: #ff0000;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
  }
  
  .auth-buttons .btn-signin:hover {
    background-color: #b30000;
    border-bottom: 2px solid #b33000;
  }
  
  /* Styles pour le dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    color: #ff0000;
    border-bottom: 2px solid #ff6200;
  }
  