.telechargement-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  
}

.theme-section {
  margin-bottom: 20px;
}

.theme-title {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.theme-files {
  display: flex;
  gap: 8px;
}

.telechargement-link {
  text-decoration: none;
  color: #333;
  padding: 8px 12px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #f8f8f8;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: fit-content;
}

.telechargement-link:hover {
  text-decoration: underline;
}
